.container {
  display: flex;
  font-family: "Poppins";
}
 

.leftBar {
  width: 78px;
  height: 1682px;
  top: -36px;
  border-radius: 20px 0 0 20px;
  box-shadow: 0px 4px 4px 0px #00000040;
  background: #F5F5FB;
  position: absolute;
  left: 0;
}

.pageList{
  margin-top: 100px;
}



.pageItem {
  display: flex;
  align-items: center;
  font-family: "poppins";
  margin-top: 30px;
  font-size: 15px;
  font-weight: 500;
  margin-left: 40px;
  margin-right: 20px; 
}




.pageIcon {
  width: 15px; 
  height: 15px; 
  margin-top: 10px;

}

.pageLink {
  text-decoration: none;
  color: #000; 
  cursor: pointer;
}


.mainContent {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-left: 70px;
  
    background: linear-gradient(
    0deg,
    rgba(206, 228, 255, 0.5) -23.93%,
    rgba(226, 239, 255, 0.5) 43.85%,
    rgba(238, 246, 255, 0.5) 97.11%
  );
    /* Add any other styles you need for your main content */
    padding: 20px;
    /* Example padding, adjust as needed */
    height: 1600px;
  }
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .titleContainer,
  .infoContainer 
 {
    display: flex;
    align-items: center;
  }
  
  .icon {
    margin-right: 5px; /* Adjust margin as needed */
    width: 25px; /* Adjust width as needed */
    height: 20px; /* Adjust height as needed */
  }

  .titleContainer{
    font-family: Poppins;
font-size: 18px;
font-weight: 700;
line-height: 40px;
letter-spacing: 0em;
text-align: left;
margin-left: 50px;

  }

  .infoContainer{
    font-family: Poppins;
font-size: 15px;
font-weight: 500;
line-height: 40px;
letter-spacing: 0em;
text-align: left;
margin-right: 200px;


  }

  .icon1{
    width: 51px;
height: 37px;
margin-right: 15px;

  }

  .icon2{
    width: 30px;
height: 30px;
margin-right: 10px;


  }

  .description{
    width: 43px;
height: 43px;
margin-left: 50px;


  }

  .descriptionText {
    flex: 1;
    margin-left: 50px; /* Adjust margin left for text box */
    text-align: justify; /* Align text to justify */
    font-family: Poppins;
font-size: 15px;
font-weight: 600;
line-height: 23px;
letter-spacing: 0em;
text-align: left;

  }

  .descriptionContainer {
    display: flex;
    justify-content: center; /* Center icon and text horizontally */
  }
  
.horizontalLine {
    border: 1px dashed #555555; /* Add border style */
    margin-top: 30px; /* Adjust margin top for spacing */
    width: 885px;
    margin-left: 40px;
border: 1;


  }

  .sentencesContainer {
    display: flex;
    justify-content: flex-start;
    margin-top: 30px; /* Adjust margin top for spacing */
    margin-left: 50px;
  }
  
  .sentence {
    display: flex;
    align-items: center;
    margin-right: 30px;
    font-family: Poppins;
font-size: 15px;
font-weight: 600;
line-height: 23px;
letter-spacing: 0em;
text-align: left;

  }
  
  .sentence span {
    margin-left: 5px; /* Adjust margin left for text */
  }
  .buttonContainer {
    display: flex;
    justify-content: center; /* Center button horizontally */
    margin-top: 80px; /* Adjust margin top for spacing */
    margin-bottom: 80px;
  }
  
  .imageButton {
    background: none;
    border: none;
    cursor: pointer;
  }
  
  .imageButton img {
    width: 185px; /* Adjust width as needed */
    height: 71px;
  }
  .boxContainer {
    width: 724px;
    height: 1072px;
    position: absolute;
    width: 724px;
/* top: 548px; */
left: 133px;
   

    border-radius: 20px;
    background-color: #FFFFFF;
  }
  .box {
    width: 235px;
    height: 25px;
    border-radius: 10px;
    border: 1px solid #000000; /* Adjust border color and width */
    background-color: #FFFFFF; /* Adjust background color */
    margin-top: 20px;
    margin-left: 50px;
    background: #F8FDFF;

  }

  .boxes {
    display: flex;
    justify-content: flex-start;
    margin-top: 30px; /* Adjust margin top for spacing */
    margin-left: 50px;
  }
  
  .boxsentence {
    display: flex;
    align-items: center;
    margin-right: 30px;
    font-family: Poppins;
font-size: 15px;
font-weight: 600;
line-height: 23px;
letter-spacing: 0em;
text-align: left;

  }
  
  .boxsentence span {
    margin-left: 5px; /* Adjust margin left for text */
  }
  .iconText{
    font-family: Poppins;
    font-size: 10px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0em;
    text-align: left;
}
  
.icon {
    
   
  background-repeat: no-repeat;
 
  margin-top: 9px;
  
  transform: translateY(-50%);
  padding: 9px 7px 8px 8px;

}
.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
}

.boxIcon {
  width: 20px; /* Adjust width as needed */
  height: 20px; /* Adjust height as needed */
  margin-right: 10px; /* Adjust margin right for spacing between icon and text */
}

.boxText {
  font-family: Poppins;
  font-size: 10px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: left;
}
.iconA {
    
   
    background-repeat: no-repeat;
   
    margin-top: 14px;
    
    transform: translateY(-50%);
    padding: 9px 7px 8px 8px;
    display: flex; /* Use flexbox layout */
  align-items: center;
  white-space: nowrap;
}
.iconB {
    
   
    background-repeat: no-repeat;
   
    margin-top: 10px;
    margin-left: 5px;
    transform: translateY(-50%);
    padding: 9px 7px 8px 8px;
    display: flex; /* Use flexbox layout */
  align-items: center;
  white-space: nowrap;
}
.iconC {
    
   
    background-repeat: no-repeat;
   
    margin-top: 12px;
    margin-left: 7px;
    transform: translateY(-50%);
    padding: 9px 7px 8px 8px;
    display: flex; /* Use flexbox layout */
  align-items: center;
  white-space: nowrap;
}
.iconD {
    
   
    background-repeat: no-repeat;
   
    margin-top: 13px;
    margin-left: 8px;
    transform: translateY(-50%);
    padding: 9px 7px 8px 8px;
    display: flex; /* Use flexbox layout */
  align-items: center;
  white-space: nowrap;
}
.iconText {
  font-family: Poppins;
  font-size: 10px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: left;
  margin-left:10px;
  position:relative;
  top:-19px
}
.editbutton{
  width: 123px;
height: 32px;
margin-top: 50px;
margin-left: 865px;
border-radius: 10px ;  
background-color: #214082;
color: #FFFFFF;
border: none;

}
/* Define styles for the container */
.questionContainer {
  border: 1px solid #ccc;
  padding: 20px;
  margin-bottom: 20px;
}

/* Define styles for questions */
.question {
  margin-bottom: 10px;
}

/* Define styles for question text */
.questionText {
  font-weight: bold;
  margin-bottom: 5px;
}

/* Define styles for options */
.options {
  margin-left: 20px; /* Indent options */
}

/* Define styles for each option */
.option {
  margin-bottom: 5px;
}

/* Define styles for option labels */
.optionLabel {
  margin-left: 5px;
}