
.container {
    display: flex;
    width: 1280px;
    height: 600px;
    font-family: 'poppins';
  
  }
  .mainContent {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .leftSection,
  .rightSection {
    flex: 1;
    max-width: 50%; 
  }
  
  .leftSection {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .logo {
    width: 248px;
    height: 256px;
    margin-top: 260px;
    margin-left: 250px;
  
  }
  .checkbox1{
    display:flex;
    gap:10px;

  
  }
  .option1{
      height:5px;
  }
  .image {
    width: 733.25px;
    height: 396px;
    margin-top: -170px;
    margin-left: 240px;
  }
  
  .rightSection {
    margin-left: 250px;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  .loginTitle{
    margin-right: 200px;
    color: #454B60;
  }
  .loginDescription {
    text-align: right;
    color: #454B60;
    margin-right: 90px;
    font-family: 'poppins';
    font-weight: bold;
  }
  
  .registerUsing{
    font-family:"poppins";
    color:#223F80;
  
  }
  
  .registerText {
    font-family:"poppins";
    font-weight: 600;
    color:#223F80;
      font-size:15px;
      margin-right: 240px;
  
  }
  
  .rememberText {
    font-family:"poppins";
    font-weight: 300;
    color:#223F80;
      font-size:10px;
      margin-right: 240px;
  
  }
  
  .loginHeader{
    color: #454B60;
  }
  .SignupTitle{
    margin-right: 200px;
    color: #454B60;
  }
  .SignupDescription {
    text-align: right;
    color: #454B60;
    margin-right: 190px;
    font-family: 'poppins';
    font-weight: bold;
  }
  
  .SignupHeader{
    color: #454B60;
  }
  
  .resgisterTitle{
    font-size:32px;
    font-weight:1000;
    margin-top:21px;
    margin-bottom:21px;

  }
  .signUpText {
    width: 332px;
    height: 23px;
    text-align: right;
    color: #575757;
    margin-right: 140px;
    font-size: 15px;
  
  
  }
  
  .signUpText1{
    margin-right: 220px;
    font-size: 15px;
  }
  
  .registerTitle{
    margin-right: 300px;
  }
  
  .registerDescription{
    margin-right: 300px;
    white-space: nowrap;
    /* text-align: right; */
    color: #454B60;
    font-family: 'poppins';
    font-weight: 1000;
    margin-top:31px;
    margin-bottom:21px;

  }
  .inputRow1{
    display:flex;
  
  }
  .inputRow2{
    display:flex;
  }
  .button {
    margin-right: 554px;
    
      margin-top: 20px;
    position: absolute;

    right: 5px;
    width: 100px;
    height: 50px;
    background-color: #1A73E8;
    color: #ffffff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Add transition for smoother hover effect */
}

.button:hover {
    background-color: #7e71ff; /* Change background color on hover */
    transform: scale(1.1); /* Zoom effect on hover */
    transition: transform 0.3s ease;
}
  /* .inputRow{
    height:100px
  } */
  .iconInput{
   /*background-color: #F0EFFF;*/
   font-family: "poppins";
   border-radius: 10px;
   padding-left: "40px";
   background-position: "10px center";
   border: none;
   margin: 5px;
   margin-right: 15px;
  }
  .responseMessage{
    color:red;
  }
  .iconInput1{
    font-family: "poppins";
    padding-left: 20px;
    margin-left: 5px;
  }
  .gmailPopup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px; 
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    z-index: 1000; 
  }
  
  .closeButton {
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
    font-size: 10px;
    width:28px;
    color: #888;
  }
  
  .gmailPopup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 408px;
    height: 491px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    padding: 20px;
    font-family: 'Open Sans', sans-serif;
  }
  
  .popupLogo {
    width: 118px;
    height: 48px;
    margin: 0 auto;
    margin-top: 30px;
  }
  
  .signInText {
    text-align: center;
    font-size: 25px;
    margin-top: -5px;
    font-weight: 600;
  }
  
  .googleAccountText {
    text-align: center;
    font-size: 15px;
    margin-top: 10px;
    font-weight: 600;
    margin-bottom: 20px;
  }
  
  /*.inputBoxContainer {
    width: 372px;
    margin: 0 auto;
    margin-bottom: 20px;
  }
  
  .inputBox {
    width: 100%;
    height: 57px;
    border: 2px solid #1A73E8;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 10px;
  }
  .placeholderBox {
    position: absolute;
    top: -20px; 
    left: 0;
    width: 98px;
    height: 14px;
    background-color: white;
    border: 1px solid #1A73E8;
    font-size: 12px;
    line-height: 14px;
    padding: 0 5px;
  }
  .placeholderBox1 {
    position: absolute;
    top: -20px; 
    left: 0;
    width: 98px;
    height: 14px;
    background-color: white;
    border: 1px solid #1A73E8;
    font-size: 12px;
    line-height: 14px;
    padding: 0 5px;
  }*/
  .inputBoxContainer {
    position: relative;
    margin-bottom: 20px;
  }
  
  .placeholderBox {
    text-align: center;
    position: absolute;
    color: #1A73E8;
    top: -20px;
    left: 0;
    width: 92px;
    height: 14px;
    background-color: white;
    margin-top: 15px;
    margin-left: 30px;
    border: 1px solid white;
    font-size: 12px;
    line-height: 14px;
    padding: 0 5px;
  }
  
  .inputBox {
    width: 93%;
    height: 57px;
    border: 2px solid #1A73E8;
    margin-left: 15px;
  
    box-sizing: border-box;
  
  }
  
  
  
  .inputBox::placeholder {
    color: #1A73E8;
  }
  
  .forgotTextContainer {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    font-weight: 500;
    color: #808080;
  }
  
  .forgotTextContainer div {
    margin-right: 15px; 
    margin-left: 15px; 
  }
  
  .privacyText {
    text-align: center;
    font-size: 14px;
    margin-top: 25px;
    font-weight: 600;
  }
  
  .learnMoreText {
    text-align: left;
    color: #1A73E8;
    font-size: 14px;
    margin-top: 10px;
    font-weight: 500px;
    margin-left: 15px;
  }
  
  /*.createAccountText {
    text-align: left;
    margin-left: 10px;
    color: #1A73E8;
    font-size: 15px;
    margin-top: 50px;
  }
  
  .nextButton {
    width: 94px;
    height: 38px;
    background-color: #1A73E8;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    cursor: pointer;
    margin-left: auto;
    display: block;
  }*/
  
  .buttonContainer {
    display: flex;
    align-items: center;
  }
  
  .createAccountText {
    text-align: left;
    margin-right: 180px;
    color: #1A73E8;
    font-size: 15px;
    margin-left: 15px;
    margin-top: 40px;
    line-height: 38px; 
  }
  
  .nextButton {
    width: 94px;
    height: 38px;
    background-color: #1A73E8;
    margin-top: 40px;
    color: white;
    border: none;
    font-size: 15px;
    cursor: pointer;
  }
  
  
  .termsText {
    width: 268px;
    height: 42px;
    text-align: right;
    color: #454B60;
  }
  
  .loginButton {
    width: 104px;
    
    height: 41px;
    background-color:#F5F5F5;
    color: white;
    font-size: 15px;
    border-radius: 10px;
    border: none;
    margin-right: 200px;
    margin-left:200px;
    color:#223F80;
  }
  .loginButton:hover {
    background-color: #7e71ff; /* Change background color on hover */
    transform: scale(1.1); /* Zoom effect on hover */
    transition: transform 0.3s ease;
}
 
.loginButton1 {
  width: 104px;
  height: 41px;
  background-color:#223F80;
  color: white;
  font-size: 15px;
  border-radius: 10px;
  border: none;
position:relative;
top:-40px
}
.loginButton1:hover {
  background-color: #7e71ff; /* Change background color on hover */
  transform: scale(1.1); /* Zoom effect on hover */
  transition: transform 0.3s ease;
}
  .registerButton {
    width: 104px;
    height: 41px;
    background-color:#223F80;
    color: white;
    font-size: 15px;
    border-radius: 10px;
    border: none;
    margin-right: 160px;
    
    
  }
  
  .resendButton{
    width: 104px;
    height: 41px;
    background-color:#223F80;
    color: white;
    font-size: 15px;
    border-radius: 10px;
    border: none;
    margin-right: 200px;
    margin-top: 20px;
  
  }
  
  .narmtechIcon{
    margin-top: 50px;
    margin-right: -40px;
    margin-left: 20px;
  }
  
  
  .toggleOptions {
    display: flex;
  justify-content: space-between;
    margin-top: 10px;
    margin-right: 70px;
  }
  .toggleLabel {
    display: flex;
    align-items: center;
    margin-right: 90px;
    color: #223F80;
    font-size: 13px;
  }
  
  .toggleRadio {
    margin-right: 6px; 
  }
  
  .toggleButton {
    display: flex;
    align-items: center;
    margin-right: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    color: #223F80;
  }
  
  .greyScale {
    filter: grayscale(100%);
  }
  
  .icon1, .icon2, .icon3 {
    width: 20px;
    height: 20px;
    margin-right: 8px;
  }
  
  
  .checkboxContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 120px;
  }
  
  .checkboxContainer1 {
    display: flex;
    margin-top: 70px;
    align-items: center;
    justify-content: space-between;
    margin-right: 120px;
    }
  .checkboxInput {
  margin-right: -2px; 
  width: 22px;
  height: 22px;
  margin-top: -30px;
  }
  
  .icon2{
    margin-top: -7px;
    margin-left: -5px;
  }
  
  .icon1{
    margin-top: -5px;
  }
  
  .termsText {
    width: 268px;
    height: 42px;
    font-size: small;
    font-weight: bold;
    text-align: right;
    top:-10px;
  }
  
  .resetText {
    width: 268px;
    height: 42px;
    font-size: small;
    font-weight: bold;
    margin-left: -50px;
    text-align: right;
    top:-10px;
  }
  
  .diffColor{
    color: 2342AE;
  }
  .inputContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .inputWrapper {
    margin-bottom: 15px;
  }
  
  .inputWithIcon {
    display: flex;
    align-items: center;
    /*background-color: #F0EFFF;*/
    border-radius: 10px;
    padding: 5px;
  }
  
  .inputWithIcon img {
    margin-right: 10px; 
  }
  
  .inputField {
    width: 300px;
    height: 40px;
    border: none;
    padding: 5px;
    border-radius: 5px;
  }
  .forgotPassword{
    color: #B0B0B0;
    font-size: 13px;
    margin-left:  230px;
    margin-top: 10px;
    cursor:pointer;
  }
  .icon {
    color: blue; 
  }
  
  .withMarginTop {
    margin-top: 200px; 
  }
  .goBackButton {
    display: flex;
    align-items: center;
    color: gray;
    gap: 5px; 
    cursor: pointer;
    
  }
  
  .goBackButton1{
    display: flex;
    align-items: center;
    color: gray;
    gap: 5px; 
    cursor: pointer;
    
  }
  
  .forgotPasswordContent{
    margin-left: 50px;
    margin-top: 40px;
  }
  
  .button1 {
    border-radius: 10px;
    cursor: pointer;
  }
  
  .submitButton {
    background-color: #223F80;
    color: #ffffff;
    border: none;
  }
  
  .cancelButton {
    background-color: #F5F5F5;
    color: #454B60;
    border: none;
  }
  .displayError{
    /*margin-left: 40px;*/
    margin-right: 50px;
    color: red;
    font-size: 15px;
  }
  
  .registrationSuccess{
    margin-left: 90px;
    width: 130px;
    color:green;
  }
  
  .registrationSuccess h2{
    font-size: 28px;
    color: #454B60;
  }
  .searchicon{
    cursor:pointer;
  }
  .registrationSuccess p{
    font-size: 18px;
    color: #454B60;
  }
  
  .redirectText{
    font-weight: 700px;
    text-align: center;
  }
  .redirectLink{
    font-weight: 400px;
    text-align: center;
  }
  .registrationSuccess img {
  
    margin-left: 90px;
    width: 130px;
  }
  .validationIconGreen {
    color: green; 
    margin-left: -50px;
    margin-top: 20px;
  }
  
  @media screen and (max-width: 450px) {
    .mainContent {
      flex-direction: column;
    }
  
    .rightSection {
      margin-left: 30px;
      order: 1;
      margin-top: 20px;
    }
    .loginTitle {
      margin-top: 1500px;
      margin-left: -1550px;
      text-align: center;
      font-size: calc(30px + 180%); 
    }
  
    .loginDescription {
      
      text-align: center;
      margin-left: -1000px;
      font-size: calc(18px + 150%); 
    }
  
    .logo{
      width: 18px;
    height: 16px;
    margin-top: 260px;
      margin-left: 300px;
    }
  
    .image {
      width: 50.25px;
      height: 16px;
      margin-top: 80px;
      margin-right: 300px;
      
    }
  
    .toggleOptions {
      
      justify-content: space-around;
      margin-top: 20px;
      margin-left: -700px;
    }
  .icon1{
    margin-top: -50px;
  }
  .icon2{
    margin-top: -50px;
  }
  .icon3{
    margin-top: -60px;
  }
    
    .inputContainer {
      
      width: 90%;
    }
  
    .inputWithIcon {
      width: 100%;
    }
  .inputProps{
    width: 100%;
  }
  
  .MuiOutlinedInput-root {
    width: 100%;
  }
    .inputField {
      width: 100%;
      font-size: calc(18px + 40%); 
    }
    .toggleLabel {
      display: flex;
      align-items: center;
      margin-right: 80px;
      color: #223F80;
      font-size:  calc(18px + 170%);
    }
  
    .toggleOptions {
      display: flex;
    justify-content: space-between;
      margin-top: 10px;
      margin-right: 180px;
      
    }
  
    .emailContent .inputWrapper .forgot {
      font-size: 25px !important;
      margin-left: 400px !important; 
      margin-top: 10px !important;  
    }
    .passwordToggleIcon {
      margin-left: 350px;
    }
  
    .emailContent .inputWrapper:nth-child(2) .forgot-password {
      
        color: rgb(176, 176, 176);
        font-size: 30px;
        margin-left: 400px;
        margin-top: 10px;
    
    }
  
    .forgotPassword{
      color: rgb(176, 176, 176);
      font-size: 21px ;
      margin-left: 500px ;
      margin-top: 10px;
    }
  
    .captchaText{
      width: 700px;
    }
  
    .captcha > div {
      width: 270px !important; 
      height: 50px !important; 
      border-width: 2px !important; 
      border-radius: 40px !important;
    }
  
    
    .captcha span {
      font-size: 40px !important; 
    }
  
    .captcha div > div > svg {
      width: 27px !important; 
      height: 35px !important; 
    }
  
  
    .captchaText {
      width: 480px !important ; 
      height: 55px !important; 
      font-size: 40px !important; 
    }
  
    .captchaText input {
      width: 200px;
    }
  
    .captchaText > div {
      width: 40px !important ; 
      height: 40px !important; 
      font-size: 40px; 
    }
    .emailContent{
      margin-right: 200px;
    
    }
  
    .inputWrapper{
      width: 700px;
    }
    /*.inputField{
      width: 800px;
      font-size: calc(18px + 90%);
    }*/
  
    .mobileContent{
      margin-right: 250px;
    }
    .mobileContent p {
      font-size: calc(16px + 120%) !important;
    }
  
    .captchaText{
      left: -500px;
  
    
    }
    .signUpText {
    margin-right: 620px;
      white-space: nowrap;
      text-align: left;
      font-size: calc(18px + 140%);
    }
  
    .termsText {
      margin-right:550px;
      text-align: center;
      white-space: nowrap;
      font-size: calc(14px + 140%); 
    }
  
    .resetText {
      margin-right:550px;
      text-align: center;
      white-space: nowrap;
      font-size: calc(14px + 140%); 
    }
  
    .checkboxContainer {
      margin-left: 0;
      text-align: center;
    }
  
    .checkboxInput{
      margin-right: 20px;
    }
  
    .loginButton, .resendButton {
      margin-right: 200px;
      width: 120%;
    
      font-size: calc(18px + 80%); 
      margin-top: 20px;
    }

    
    .forgotPasswordContent {
      margin-left: 100px;
      margin-top: 800px;
      padding: 20px;
    }
  
  
    .goBackButton {
      display: flex;
      align-items: center;
      width: 40px;
      height: 40px;
      
    }
  
    .goBackButton span {
      margin-left: 10px;
      font-size: 40px;
      white-space: nowrap;
    }
  
     .forgotPasswordText {
      text-align: left;
    }
    .goBackButton1 {
      display: flex;
      align-items: center;
      white-space: nowrap;
      width: 40px;
      height: 40px;
      margin-top: 1200px !important;
      
    }
  
    .goBackButton1 span {
      margin-left: 10px;
      font-size: 40px;
      white-space: nowrap;
    }
    .firstParagraph {
      font-size: 60px !important;
      font-weight: 700;
      margin-bottom: 5px;
    }
    .checkboxLabel{
      font-size: 30px !important;
    }
    .secondParagraph {
      font-size: 40px !important;
      font-weight: 700;
      margin-bottom: 10px;
    }
   
  
    .inputField1{
      width: 600px !important;
      height: 70px !important;
      font-size: 40px !important; 
      border-radius: 20px !important;
    }
  
    .orText{
      font-size: 40px !important;
      margin-left: 250px !important;
    }
    .checkboxContainer1 {
      margin-top: 70px;
    }
  
    .buttonContainer {
      display: flex;
    
      margin-top: 20px; 
    }
  
    .button1 {
      margin-top: 30px !important;
    }
  
    .submitButton {
      background-color: #223F80;
      color: #ffffff;
      width: 280px !important;
      height: 60px !important;
      font-size: 30px !important;
      border: none;
      margin-right: 90px !important;
    }
    .thankYouMessage{
      margin-right: 200px !important;
    }
    
    .cancelButton {
      width: 280px !important;
      height: 60px !important;
      background-color: #F5F5F5;
      font-size: 30px !important;
      color: #454B60;
      border: none;
    }
  }
  
  