.container {
    display: flex;
    font-family: "Poppins";
  }
   

.leftBar {
    width: 78px;
    height: 1089px;
    top: -36px;
    border-radius: 20px 0 0 20px;
    box-shadow: 0px 4px 4px 0px #00000040;
    background: #F5F5FB;
    position: absolute;
    left: 0;
  }
  
  .pageList{
    margin-top: 100px;
  }
  .mainContent{
    margin-left: 150px;
    margin-top: 30px;
  }
  

.pageItem {
    display: flex;
    align-items: center;
    font-family: "poppins";
    margin-top: 30px;
    font-size: 15px;
    font-weight: 500;
    margin-left: 40px;
    margin-right: 20px; 
}




.pageIcon {
    width: 15px; 
    height: 15px; 
    margin-top: 10px;

}

.pageLink {
    text-decoration: none;
    color: #000; 
    cursor: pointer;
}

.quizTitle{
    font-family: Poppins;
font-size: 20px;
font-weight: 600;
line-height: 30px;
letter-spacing: 0em;
text-align: left;

}

.imageContainer {
    position: relative;
}

.logoImage {
    width: 59px;
    height: 59px;
    position: absolute;
    top: 25px;
    left: 0px;
    padding: 7px 7px 7px 5px;
}

.textContainer {
    position: absolute;
    top: 15px; /* Adjust as needed */
    left: 100px; /* Adjust as needed */
    white-space: nowrap;
    width: 317px;
    font-family: Poppins;
font-size: 18px;
font-weight: 700;
line-height: 27px;
letter-spacing: 0em;
text-align: left;
color: #F4774B;


}

.boxesContainer {
    display: flex;
    flex-direction: column;
    margin-top: 150px; /* Adjust as needed */
}

.box {
    width: 540px;
    height: 59px;
    background-color: #eceff0; /* Example background color */
    margin-bottom: 10px; /* Adjust spacing between boxes */
    border-radius: 10px;
    border: 1px solid #000000;
}

.icon {
    
   
    background-repeat: no-repeat;
   
    margin-top: 30px;
    
    transform: translateY(-50%);
    padding: 9px 7px 8px 8px;
}
.icon1 {
    
   
    background-repeat: no-repeat;
   
    margin-top: 32px;
    margin-left: 8px;
    transform: translateY(-50%);
    padding: 9px 7px 8px 8px;
}
.icon2 {
    
   
    background-repeat: no-repeat;
   
    margin-top: 32px;
    margin-left: 7px;
    transform: translateY(-50%);
    padding: 9px 7px 8px 8px;
}
.icon3 {
    
   
    background-repeat: no-repeat;
   
    margin-top: 30px;
    margin-left: 8px;
    transform: translateY(-50%);
    padding: 9px 7px 8px 8px;
}

.iconText{
    color: #ABABAB;
    margin-left: 10px;
}


.button {
    width: 123px;
}

.buttonsContainer {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    margin-bottom: 10px; /* Adjust as needed */
}

.verticalLine {
    width: 1px;
    height: 593px;
    margin-top: 50px;
    background-color: black; /* Adjust as needed */
    margin-right: 20px; /* Adjust as needed */
    margin-left: 200px;
}
.sentence1{
    font-family: Poppins;
    margin-top: 100px;
font-size: 20px;
font-weight: 700;
line-height: 30px;
letter-spacing: 0em;
text-align: left;
color: #214082;

}

.sentence2{
    font-family: Poppins;
font-size: 20px;
font-weight: 500;
line-height: 30px;
letter-spacing: 0em;
text-align: left;
color: #000000;
margin-top: 130px;
margin-left: -100px;


}

.sentence3{
    font-family: Poppins;
font-size: 30px;
font-weight: 500;
line-height: 45px;
letter-spacing: 0em;
margin-left: -110px;
text-align: left;
color:#CBCBCB;


}

.sentence4{
    font-family: Poppins;
font-size: 20px;
font-weight: 500;
line-height: 30px;
letter-spacing: 0em;
text-align: left;
color: #000000;
margin-left: -130px;
}

